<div class="darkGreenText">
&nbsp;    COVID-19 INDIA TRACKER : {{country.lastupdatedtime}}
<span class="blinking">
  Lets break the chain ! Stay Indoors Stay Safe
</span>
</div>
<hr>

<div class="totalCases-card">

  <div class="modal-body row">
    <!--Recovered Card-->
    <div class="col-md-2">
      <mat-card class="recovered-card greenText">
        <mat-card-header>
          <mat-card-title>
             <img src="../../assets/house-user-solid.svg" height="20px">Recovered</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            <small>
              +{{country.deltarecovered}}
            </small> {{country.recovered}}
          </p>

        </mat-card-content>
      </mat-card>



    </div>
    <br>
    <!--Confirmed-->
    <div class="col-md-2">
      <mat-card class="confirmed-card redText">
        <mat-card-header>
          <mat-card-title>
                  <i class="fa fa-hospital-o"></i>
              Confirmed</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            <small>
              +{{country.deltaconfirmed}}
            </small> {{country.confirmed}}
          </p>

        </mat-card-content>
      </mat-card>
    </div>
<br>
    <!--Died Card-->
    <div class="col-md-2">
      <mat-card class="died-card ashText">
        <mat-card-header>
          <mat-card-title>
              <i class="fa fa-coffin"></i>
              <img src="../../assets/procedures-solid.svg" height="20px"> Deaths</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            <small>
              +{{country.deltadeaths}}
            </small> {{country.deaths}}
          </p>

        </mat-card-content>
      </mat-card>
    </div>   
<br>
    <!--Active Card-->
    <div class="col-md-2">
      <mat-card class="active-card blueText">
        <mat-card-header>
            
          <mat-card-title>
              <i class="fa fa-medkit"></i>    Active Cases 
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <span>{{country.active}}</span>        
          </mat-card-content>
      </mat-card>
      
    </div>    
    <br>
    <div class="col-md-4">
      <strong>Where did the Data come from ?</strong>
      <p>The data is sourced from <a href="https://www.covid19india.org/" target="_blank">Covid19India</a> API, which inturn collects data from various sources.</p>
    </div>

    
  </div>


  <div class="modal-boday row">

    <div class="col-md-8">
        <!--Table comes here-->
    </div>

  </div>




</div>

