.darkGreenText{
  color: darkgreen;
}

.greenText {
  color: green;
}
.blueText{
  color:#007bff;
}

.ashText{
  color: #b2beb5 ;  
}

.redText {
  color: red;
}

.blinking{
  animation:blinkingText 1.2s infinite;
}

@keyframes blinkingText{
  0%{     color: #000;    }
  49%{    color: #000; }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: #000;    }
}



//Raman: Table fix for mobile views and better desktop view
 .example-container {
   display: flex;
   flex-direction: column;
 //  max-height: 500px; 
     min-width: 300px;
}

 .mat-table {
  overflow: auto;
 // max-height: 500px;
 }


@media screen and (max-width: 960px) {
  .mat-table {
    border: 0;
    vertical-align: middle
  }

  .mat-table caption {
    font-size: 1em;
  }
  
  /* To hide the header in mobile view */
  .mat-table .mat-header-cell {
    
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  /* To hide the empty header row*/
  mat-header-row.mat-header-row.cdk-header-row.ng-star-inserted {
    display: none;
}

  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }
  /*To fix the height of the table rows in mobile view*/
 mat-row, mat-footer-row {
   min-height: 20px;
 }

  /*
  .mat-table .mat-row:nth-child(even) {background: #CCC}
  .mat-table .mat-row:nth-child(odd) {background: #FFF}
  */
  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    margin-right: 10px !important; //added to move text from right
    font-weight: bold;
    height:30px;
    margin-bottom: 4%;
  }
  .mat-table .mat-cell:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    margin-left: 5px !important ; //Added to move text from left 
    font-size: .85em;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
    .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
}

