<div class="darkGreenText">
  &nbsp; COVID-19 INDIA TRACKER : <span *ngIf="country">{{country.lastupdatedtime}}</span>
  <span class="blinking">
    Lets break the chain ! <strong>Stay Indoors Stay Safe</strong>
  </span>
</div>
<hr>

<div class="totalCases-card">

  <div class="modal-body row" *ngIf="country">
    <!--Recovered Card-->
    <div class="col-md-2">
      <mat-card class="recovered-card greenText">
        <mat-card-header>
          <mat-card-title>
            <img src="../../assets/house-user-solid.svg" height="20px">Recovered</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            <small>
              +{{country.deltarecovered}}
            </small> {{country.recovered}}
          </p>

        </mat-card-content>
      </mat-card>



    </div>
    <br>
    <!--Confirmed-->
    <div class="col-md-2">
      <mat-card class="confirmed-card redText">
        <mat-card-header>
          <mat-card-title>
            <i class="fa fa-hospital-o"></i>
            Confirmed</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            <small>
              +{{country.deltaconfirmed}}
            </small> {{country.confirmed}}
          </p>

        </mat-card-content>
      </mat-card>
    </div>
    <br>
    <!--Died Card-->
    <div class="col-md-2">
      <mat-card class="died-card ashText">
        <mat-card-header>
          <mat-card-title>
            <i class="fa fa-coffin"></i>
            <img src="../../assets/procedures-solid.svg" height="20px"> Deaths</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            <small>
              +{{country.deltadeaths}}
            </small> {{country.deaths}}
          </p>

        </mat-card-content>
      </mat-card>
    </div>
    <br>
    <!--Active Card-->
    <div class="col-md-2">
      <mat-card class="active-card blueText">
        <mat-card-header>

          <mat-card-title>
            <i class="fa fa-medkit"></i> Active Cases
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <span>{{country.active}}</span>
        </mat-card-content>
      </mat-card>

    </div>
    <br>
    <div class="col-md-4">
      <strong>Where did the Data come from ?</strong>
      <p>The data is sourced from <a href="https://www.covid19india.org/" target="_blank">Covid19India</a> API, which
        inturn collects data from various sources.</p>
    </div>


  </div>


  <!--Table Starts here -->

  <div class="modal-boday row" style="width: 100%;height: 100%">

    <div class="col-md-12">

          <mat-table [dataSource]="data" class="mat-elevation-z8" matSort *ngIf="country">


             <!--  State Column  -->
            <ng-container matColumnDef="State">
              <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.state}}</mat-cell>
            </ng-container>

            <!-- Recovered  Column -->
            <ng-container matColumnDef="Recovered">
                <mat-header-cell *matHeaderCellDef> Total Recovered </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span class="small greenText">+{{row.deltarecovered}}</span>
                {{row.recovered}}</mat-cell>
            </ng-container>

            <!-- Confirmed  Column -->
            <ng-container matColumnDef="Confirmed">
              <mat-header-cell *matHeaderCellDef>Total Confirmed </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span class="small redText">+{{row.deltaconfirmed}}</span>
                {{row.confirmed}}
              </mat-cell >
            </ng-container>

            <!-- Death  Column -->
            <ng-container matColumnDef="Deaths">
                <mat-header-cell *matHeaderCellDef>Total Death </mat-header-cell>
              <mat-cell *matCellDef="let row"><span class="small ashText">+{{row.deltadeaths}}</span> {{row.deaths}}
              </mat-cell>
            </ng-container>


            <!-- Active  Column -->
            <ng-container matColumnDef="Active">
                <mat-header-cell *matHeaderCellDef>Total Active </mat-header-cell>
              <mat-cell *matCellDef="let row" class="blueText"> {{row.active}}</mat-cell>
            </ng-container>


            <!-- Disclaimer column -->
  <ng-container matColumnDef="disclaimer">
      <mat-footer-cell *matFooterCellDef colspan="2">
        The data has been sourced from various entities, we are not responsbile for accuracy
      </mat-footer-cell>
    </ng-container>



            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="['disclaimer']" class="example-second-footer-row" ></mat-footer-row>

          </mat-table>
        </div>

      </div>





</div>