<!--

@Helpbook:

The cards are created using materialize css

The content of the table is center aligned due to the class added to appcomponent.


-->



<!-- State Name-->
<div class="modal-body row" *ngIf="rowData">

    <div class="col-md-4">
        <strong> {{rowData.state}}</strong>
        <div class="search-hero" *ngIf="!noActualCase">
                <input class="form-control" type="text" 
                        name="search" (keyup)="applyFilter($event)" placeholder="Search Districts here" autocomplete="on" >
              </div>
        <div class="mobileHome">
                <button class="mdc-fab" aria-label="Home">
                        <div class="mdc-fab__ripple"></div>
                        <span class="mdc-fab__icon material-icons">home</span>
                      </button>
        </div>
    </div>
   
</div>

<div class="row">
        <div class="col-md-5">
           
        </div>






<!--/State Name-->


<div *ngIf="!noActualCase">

<!-- Patient Count Cards-->

<div class="modal-body row" >

    <!-- Card One -->

    <div class="col-md-3">
            <div class="card-panel teal">
                    <mat-card class="recovered-card greenText">
                            <mat-card-header>
                                <mat-card-title>Recovered</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <p>
                                    <small> +{{rowData.deltarecovered}}</small> 
                                    {{rowData.recovered}}
                                </p>
                
                            </mat-card-content>
                        </mat-card>
            </div>
        </div>

    <!-- Card Two-->
    <div class="col-md-3">
            <div class="card-panel teal">
                    <mat-card class="confirmed-card redText">
                            <mat-card-header>
                                <mat-card-title>Confirmed</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <p>
                                    <small>+{{rowData.deltaconfirmed}} </small>
                                     {{rowData.confirmed}}
                                </p>
                
                            </mat-card-content>
                        </mat-card>
            </div>
        </div>


        <!-- Card Three -->
    <div class="col-md-3">
            <div class="card-panel teal">
                    <mat-card class="died-card ashText">
                            <mat-card-header>
                                <mat-card-title>
                                   Deaths</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <p>
                                    <small>
                                        +{{rowData.deltadeaths}}
                                    </small> {{rowData.deaths}}
                                </p>
                
                            </mat-card-content>
                        </mat-card>
            </div>
        </div>
   
  <!-- Card Four -->
        <div class="col-md-3">
                <div class="card-panel teal">
                        <mat-card class="active-card blueText">
                                <mat-card-header>                    
                                    <mat-card-title> Active </mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <span>{{rowData.active}}</span>
                                </mat-card-content>
                            </mat-card>
                    
                </div>
            </div>

</div>

<!--/Patient Count Cards-->

<!--District Wise Row comes here-->

<div class="modal-row" >
        <div class="example-container">

                <div class="col-md-12">
            
                      <mat-table [dataSource]="data" class="mat-elevation-z8" matSort >
            
            
                         <!--  District Column  -->
                        <ng-container matColumnDef="District">
                          <mat-header-cell *matHeaderCellDef> District </mat-header-cell>
                          <mat-cell   *matCellDef="let row" data-label="District">
                               {{row.district}}&nbsp;
                               <i class="fa fa-info-circle" [title]="row.statenotes" *ngIf="row.statenotes"></i> 
                            </mat-cell>
                        </ng-container>

                           <!--  Active Column  -->
                           <ng-container matColumnDef="Active">
                                <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
                                <mat-cell class="blueText"   *matCellDef="let row" data-label="Active"> {{row.active}}</mat-cell>
                              </ng-container>
            

                              
                           <!--  Confirmed Column  -->
                           <ng-container matColumnDef="Confirmed">
                                <mat-header-cell *matHeaderCellDef > Confirmed </mat-header-cell>
                                <mat-cell data-label="Confirmed"  [ngClass]="row.delta.confirmed >  0 ? 'blinking ' : ''" *matCellDef="let row"> <span class="small redText"> +{{row.delta.confirmed}} </span> &nbsp; {{row.confirmed}}</mat-cell>
                              </ng-container>

                              
                                <!--  Recovered Column  -->
                           <ng-container matColumnDef="Recovered">
                                <mat-header-cell *matHeaderCellDef> Recovered </mat-header-cell>
                                <mat-cell  data-label="Recovered"  *matCellDef="let row"> <span class="small greenText">+ {{row.delta.recovered}} </span>&nbsp;  {{row.recovered}}</mat-cell>
                              </ng-container>

                                <!--  Deceased Column  -->
                           <ng-container matColumnDef="Deaths">
                                <mat-header-cell *matHeaderCellDef> Died </mat-header-cell>
                                <mat-cell  data-label="Deaths"  *matCellDef="let row"> <span class="small ashText">+ {{row.delta.deceased}} </span> &nbsp; {{row.deceased}}</mat-cell>
                              </ng-container>

                              
                                <!--  Percentage Column  -->
                           <ng-container matColumnDef="Percentage">
                                <mat-header-cell *matHeaderCellDef> Percentage </mat-header-cell>
                                <mat-cell  data-label="Percentage"  *matCellDef="let row"> 
                                 <p>{{(row.confirmed/rowData.confirmed) * 100 | number}} %</p>

                                </mat-cell>
                              </ng-container>



                  <!-- Disclaimer column -->
  <ng-container matColumnDef="disclaimer">
        <mat-footer-cell *matFooterCellDef colspan="2">
          The data has been sourced from various entities such as  <a href="https://www.covid19india.org/" target="_blank">&nbsp; Covid19India &nbsp;</a> API, we are not responsbile for accuracy
        </mat-footer-cell>
      </ng-container>
            
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>
                        <mat-footer-row *matFooterRowDef="['disclaimer']" class="example-second-footer-row" ></mat-footer-row>

                      </mat-table>
                    </div>
            
                  </div>
</div>

<!--/District Wise Row comes here-->

</div>




<!-- Code to Display No actual Cases in the state recorded-->

<div class="modal-row" *ngIf="noActualCase">

<div class="col-md-11">
        <div class="card-panel teal">
                <mat-card class="recovered-card greenText">
                        <mat-card-header>
                            <mat-card-title>No Positive Cases</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                        <span> No Active Cases recorded till date. Keep the Good work up !!</span>
            
                        </mat-card-content>
                    </mat-card>
        </div>
</div>


</div>


<!-- Code to Display No actual Cases in the state recorded-->