
<!-- State Name-->
<div class="modal-body row" *ngIf="rowData">

    <div class="col-md-4">
        <strong> {{rowData.state}}</strong>
    </div>

</div>

<!--/State Name-->

<!-- Patient Count Cards-->

<div class="modal-body row">

    <!--Recovered Card-->
    <div class="col-md-2">
        <mat-card class="recovered-card greenText">
            <mat-card-header>
                <mat-card-title>
                    <img src="../../assets/house-user-solid.svg" height="20px">Recovered</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    <small>
                        +{{rowData.deltarecovered}}
                    </small> {{rowData.recovered}}
                </p>

            </mat-card-content>
        </mat-card>

    </div>
    <br>


    <!--Confirmed-->
    <div class="col-md-2">
        <mat-card class="confirmed-card redText">
            <mat-card-header>
                <mat-card-title>
                    <i class="fa fa-hospital-o"></i>
                    Confirmed</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    <small>
                        +{{rowData.deltaconfirmed}}
                    </small> {{rowData.confirmed}}
                </p>

            </mat-card-content>
        </mat-card>
    </div>
    <br>


    <!--Died Card-->
    <div class="col-md-2 ashText">
        <mat-card class="died-card ashText">
            <mat-card-header>
                <mat-card-title>
                    <i class="fa fa-coffin"></i>
                    <img src="../../assets/procedures-solid.svg" height="20px"> Deaths</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    <small>
                        +{{rowData.deltadeaths}}
                    </small> {{rowData.deaths}}
                </p>

            </mat-card-content>
        </mat-card>
    </div>
    <br>


    <!--Active Card-->
    <div class="col-md-2">
        <mat-card class="active-card blueText">
            <mat-card-header>

                <mat-card-title>
                    <i class="fa fa-medkit"></i> Active Cases
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <span>{{rowData.active}}</span>
            </mat-card-content>
        </mat-card>

    </div>


    <br>
</div>

<!--/Patient Count Cards-->

<!--District Wise Row comes here-->

<div class="modal-row">
        <div class="modal-boday row" style="width: 100%;height: 100%">

                <div class="col-md-12">
            
                      <mat-table [dataSource]="data" class="mat-elevation-z8" matSort >
            
            
                         <!--  District Column  -->
                        <ng-container matColumnDef="District">
                          <mat-header-cell *matHeaderCellDef> District </mat-header-cell>
                          <mat-cell [ngClass]="row.active > 15 ? 'redText' : 'greenText'"  *matCellDef="let row"> {{row.district}}</mat-cell>
                        </ng-container>

                           <!--  Active Column  -->
                           <ng-container matColumnDef="Active">
                                <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
                                <mat-cell [ngClass]="row.active > 15 ? 'redText' : 'greenText'"  *matCellDef="let row"> {{row.active}}</mat-cell>
                              </ng-container>
            

                              
                           <!--  Confirmed Column  -->
                           <ng-container matColumnDef="Confirmed">
                                <mat-header-cell *matHeaderCellDef> Confirmed </mat-header-cell>
                                <mat-cell  [ngClass]="row.active > 15 ? 'redText' : 'greenText'" *matCellDef="let row"> <span class="small redText"> +{{row.delta.confirmed}} </span> &nbsp; {{row.confirmed}}</mat-cell>
                              </ng-container>

                              
                                <!--  Recovered Column  -->
                           <ng-container matColumnDef="Recovered">
                                <mat-header-cell *matHeaderCellDef> Recovered </mat-header-cell>
                                <mat-cell  [ngClass]="row.active > 15 ? 'redText' : 'greenText'" *matCellDef="let row"> <span class="small greenText">+ {{row.delta.recovered}} </span>&nbsp;  {{row.recovered}}</mat-cell>
                              </ng-container>

                                <!--  Deceased Column  -->
                           <ng-container matColumnDef="Deaths">
                                <mat-header-cell *matHeaderCellDef> Died </mat-header-cell>
                                <mat-cell [ngClass]="row.active > 15 ? 'redText' : 'greenText'"  *matCellDef="let row"> <span class="small ashText">+ {{row.delta.deceased}} </span> &nbsp; {{row.deceased}}</mat-cell>
                              </ng-container>
            
            
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>
            
                      </mat-table>
                    </div>
            
                  </div>
</div>

<!--/District Wise Row comes here-->

<!-- State Map goes here -->




<!--/State map goes here-->