/*SCSS related to state-wise component has been moved to style.scss to avoid duplicacy.*/

@media screen and (max-width: 960px) {

    .mobileHome {
        display:block !important;
        button.mdc-fab {
            margin-left: 80%;
        }
        top: 3px !important;
        right: 46px !important;
        bottom: 10px !important;
        left: auto !important;
        position: fixed !important;
    }

}


.mobileHome {
    display:none;
}



.card1 {
    mat-card.mat-card.mat-focus-indicator {
    background-color: #008b88;
    }
}


.card2 {
    mat-card.mat-card.mat-focus-indicator {
    background-color:#e5ff4066;
    }
}